body,
body * {
    padding: 0;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}

.location {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

    .temperature-description {
        text-transform: uppercase;
    }
.degree-container {

    display: flex;
    align-items: center;
    cursor: pointer;
}

    .degree-container span {
        margin: 10px;
        font-size: 30px;
    }

    .degree-container h2 {
        font-size: 40px;
    }
